@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $font-jost;
}

body {
  font-size: 1.6rem;
  color: $green;
}

main {
  position: relative;
}

.header {
  max-width: 1410px;
  margin: 0 auto;
  padding: 4rem 15px 6rem 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .header__nav
  &__nav {
    display: flex;
    padding-left: 0;
    gap: 3.7rem;
    list-style: none;
  }

  // .header__link
  &__link {
    text-decoration: none;
    color: $green;
    &:hover {
      color: $orange;
    }
  }
  // .header__tel
  &__tel {
    text-decoration: none;
    color: $green;
    font-weight: 500;
    &:hover {
      color: $orange;
    }
  }
  // .header__cart
  &__cart {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 50%;
    background-image: url(../images/cart.svg);
    background-size: 1.8rem 1.6rem;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    font-size: 0.8rem;
    color: $white;
  }
}
.logo {
  background-image: url(../images/logo.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 3.2rem;
}

main {
  background-image: url(../images/main1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-family: $font-cormorant;
  font-size: 8rem;
  font-weight: 700;
  line-height: 8rem;

  &__span {
    font-style: italic;
  }

  &_block {
    .title__span {
      display: block;
    }
  }
}
.main {
  // .main__item
  &__item {
    margin-left: 12rem;
    max-width: 37.5rem;
  }
  // .main__text

  // .main__link
  &__link {
    display: inline-block;
    margin-top: 8rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20rem;
  }
  // .main__cover
  &__cover {
    display: flex;
    flex-basis: 761px;
    height: 761px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid rgba($green, 0.4);
    position: relative;
  }
  // .main__line
  &__line {
    width: 656px;
    height: 656px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    border: 1px solid rgba($green, 0.4);
  }
  // .main__image
  &__image {
    width: 95%;
  }

  // .main__btn
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: left;
    color: $green;
    line-height: 2.2rem;
    position: absolute;

    &:hover {
      .main__btn {
        &::before {
          background-color: $orange;
          box-shadow: 0 0 0 5px $white, 0 0 0 6px $orange;
        }
      }
    }

    &::before {
      content: '';
      width: 11px;
      height: 11px;
      background-color: $green;
      border-radius: 100%;
      box-shadow: 0 0 0 5px $white, 0 0 0 6px $green;
      position: absolute;
    }

    // .main__btn_1
    &_1 {
      top: 50px;
      left: 50px;
      &::before {
        bottom: 0px;
        right: -30px;
      }
    }

    &_2 {
      bottom: -47px;
      right: 230px;
      &::before {
        top: -25px;
        left: 10px;
      }
    }

    &_3 {
      top: 180px;
      right: 10px;
      &::before {
        bottom: 15px;
        left: -26px;
      }
    }
  }
  // .main__ingridient
  &__ingridient {
    display: block;
    opacity: 0.8;
  }
}

.description {
  line-height: 2.7rem;

  &_size-s {
    font-size: 1.8rem;
  }
}
.link {
  box-shadow: 0 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  border-radius: 4rem;
  padding: 2.5rem 4.3rem;
  background-color: $orange;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.032rem;
  color: $white;
}

.pepper {
  position: absolute;
  top: 595px;
  left: 40px;
}
.avocado {
  position: absolute;
  top: 105px;
  right: 0;
}
.tomato {
  position: absolute;
  right: 125px;
  bottom: 125px;
}
