@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $font-jost;
}

body {
  font-size: 1.6rem;
  color: $green;
}

main {
  position: relative;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3.4rem 0px 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .header__nav
  &__nav {
    display: flex;
    padding-left: 3.8rem;
    gap: 4.8rem;
    list-style: none;
  }

  // .header__link
  &__link {
    text-decoration: none;
    color: $green;
    &:hover {
      color: $orange;
    }
  }
  // .header__tel
  &__tel {
    text-decoration: none;
    padding-left: 166px;
    color: $green;
    font-weight: 500;
    letter-spacing: 0.12rem;
    &:hover {
      color: $orange;
    }
  }
  // .header__cart
  &__cart {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 50%;
    background-image: url(../images/cart.svg);
    background-size: 1.8rem 1.6rem;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    font-size: 0.8rem;
    color: $white;
  }
}
.logo {
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 12rem;
  height: 3.2rem;
}

.main {
  margin: 0;
  background-image: url(../images/main1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
  z-index: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: $font-cormorant;
  font-size: 8rem;
  font-weight: 700;
  line-height: 8rem;

  &__span {
    font-style: italic;
  }

  &_block {
    .title__span {
      display: block;
    }
  }
}
.main {
  // .main__item
  &__item {
    margin-left: 12rem;
    max-width: 37.5rem;
  }
  // .main__text

  &__text {
    margin-top: -45px;
  }

  // .main__link
  &__link {
    display: inline-block;
    margin-top: 78px;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20rem;
  }
  // .main__cover
  &__cover {
    display: flex;
    flex-basis: 761px;
    height: 761px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid rgba($green, 0.4);
    position: relative;
  }
  // .main__line
  &__line {
    width: 656px;
    height: 656px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    border: 1px solid rgba($green, 0.4);
  }
  // .main__image
  &__image {
    width: 93%;
    border-radius: 100%;
    box-shadow: 10px 10px 20px 10px rgba($color: #000000, $alpha: 0.3);
  }

  // .main__btn
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: left;
    color: $green;
    line-height: 2.2rem;
    position: absolute;

    &:hover {
      .main__btn {
        &::before {
          background-color: $orange;
          box-shadow: 0 0 0 5px $white, 0 0 0 6px $orange;
        }
      }
    }

    &::before {
      content: '';
      width: 11px;
      height: 11px;
      background-color: $green;
      border-radius: 100%;
      box-shadow: 0 0 0 5px $white, 0 0 0 6px $green;
      position: absolute;
    }

    // .main__btn_1
    &_1 {
      top: 45px;
      left: 64px;
      &::before {
        bottom: 9px;
        right: -35px;
      }
    }

    &_2 {
      bottom: -49px;
      right: 244px;
      &::before {
        top: -23px;
        left: 13px;
      }
    }

    &_3 {
      top: 193px;
      right: 3px;
      &::before {
        bottom: 15px;
        left: -26px;
      }
    }
  }
  // .main__ingridient
  &__ingridient {
    display: block;
    opacity: 0.8;
  }
}

.description {
  line-height: 2.7rem;

  &_size-s {
    font-size: 1.8rem;
  }
  &_size-m {
    font-size: 2.4rem;
  }
}
.link {
  box-shadow: 0 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  border-radius: 4rem;
  padding: 2rem 4.3rem;
  background-color: $orange;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  color: $white;
}

.pepper {
  position: absolute;
  top: 400px;
  left: 85px;
  z-index: -1;
}
.avocado {
  position: absolute;
  top: 52px;
  right: 33px;
  z-index: -1;
}
.tomato {
  position: absolute;
  right: 172px;
  bottom: 127px;
  z-index: -1;
}
.cucumber {
  position: absolute;
  left: 738px;
  top: -51px;
  z-index: -1;
}
.beans {
  position: absolute;
  left: 15px;
  bottom: 174px;
  z-index: -1;
}

.offer {
  margin: 0;
  background-image: url(../images/bg_sreen2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 500px;
  padding-bottom: 125px;

  &__title {
    margin: 0;
    padding-top: 7px;
    margin-left: -3px;
    margin-bottom: 59px;
  }

  &__description {
    max-width: 684px;
    line-height: 3.6rem;
  }
}

.swiper {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 96px;
  overflow-y: initial;

  &-pagination {
    display: none;
  }

  &-slide {
    height: 515px;
    // max-width: 462px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 35px 35px;
    border: 1px solid rgba($green, 0.55);
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    &:hover {
      box-shadow: 0 0 0 3px rgba($green, 0.55) inset;

      .swiper-slide__hover {
        // height: 209px;
        display: block;
      }
      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        top: 3px;
        left: 3px;
        background-color: rgba($white, 0.55);
        border-radius: 2rem;
        z-index: -1;
      }
    }

    &_milk {
      background-image: url(../images/milk.png);
    }
    &_pasta {
      background-image: url(../images/pasta.png);
    }
    &_steaks {
      background-image: url(../images/steaks.png);
    }

    &__content {
      // padding-left: 40px;
      // padding-bottom: 35px;
    }

    &__title {
      margin: 0;
      margin-bottom: 25px;
      font-family: $font-cormorant;
      font-size: 3rem;
      font-weight: 700;
    }

    &__hover {
      // height: 0px;
      // margin-top: 50px;
      // overflow: hidden;
      display: none;
    }
    &__text {
      max-width: 265px;
      line-height: 2.4rem;
      margin-bottom: 35px;
      opacity: 0.7;
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: $green;
      text-transform: uppercase;
      letter-spacing: 0.13rem;
      font-weight: 500;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/plus.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &-button {
    &-next,
    &-prev {
      top: 36px;

      &::after {
        color: $green;
        font-size: 18px;
        opacity: 0.4;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    &-next {
      right: -9px;
    }
    &-prev {
      left: initial;
      right: 74px;
    }
  }
}

.features {
  // .features__title
  &__title {
    margin: 0;
    margin-top: 44px;
    margin-left: 8px;
  }
  // .features__flex
  &__flex {
    margin-top: 60px;
    margin-bottom: 147px;
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .features__description
  &__description {
    max-width: 580px;
  }
  // .features__items
  &__items {
    display: flex;
    gap: 87px;
    padding: 0;
    list-style: none;
  }
  // .features__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: $font-cormorant;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;

    &::before {
      content: '';
      display: block;
      width: 87px;
      height: 87px;
      border: 1px solid rgba($green, 0.4);
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &_good {
      &::before {
        background-size: 45px 39px;
        background-image: url(../images/good.svg);
      }
    }
    &_fruits {
      &::before {
        background-size: 43px 41px;
        background-image: url(../images/fruits.svg);
      }
    }
    &_traditional {
      &::before {
        background-size: 39px 39px;
        background-image: url(../images/traditional.svg);
      }
    }
  }
}
