@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $font-jost;
}

body {
  font-size: 1.6rem;
  color: $green;
}

.header {
  max-width: 1410px;
  margin: 0 auto;
  padding: 4rem 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .header__nav
  &__nav {
    display: flex;
    padding-left: 0;
    gap: 3.7rem;
    list-style: none;
  }

  // .header__link
  &__link {
    text-decoration: none;
    color: $green;
    &:hover {
      color: $orange;
    }
  }
  // .header__tel
  &__tel {
    text-decoration: none;
    color: $green;
    font-weight: 500;
    &:hover {
      color: $orange;
    }
  }
  // .header__cart
  &__cart {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: $orange;
    border: 1px solid $orange;
    border-radius: 50%;
    background-image: url(../images/cart.svg);
    background-size: 1.8rem 1.6rem;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &__counter {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    font-size: 0.8rem;
    color: $white;
  }
}
.logo {
  background-image: url(../images/logo.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 3.2rem;
}

main {
  background-image: url(../images/main1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-family: $font-cormorant;
  font-size: 8rem;
  font-weight: 700;
  line-height: 8rem;

  &__span {
    font-style: italic;
  }

  &_block {
    .title__span {
      display: block;
    }
  }
}
.main {
  // .main__item
  &__item {
    margin-left: 12rem;
    max-width: 37.5rem;
  }
  // .main__text
  &__text {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  // .main__link
  &__link {
    display: inline-block;
    margin-top: 6rem;
  }
}
.link {
  box-shadow: 0 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  border-radius: 4rem;
  padding: 2.5rem 4.3rem;
  background-color: $orange;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.032rem;
  color: $white;
}
